* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/*HEADER */
.header-menu {
    background-color: black;
    height: 100vh;
}

.header-menu a{
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.navbar-nav .nav-item {
    padding-right: 1.5em;
}

/* SECTION HOME */

.home img {
    width: 550;
    height: 550;
}

/* MAIN - PROJECTS */

.conteiner-main {
    background-color: #39ff14;
}

.projects .card {
    width: 90%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.projects .card button{
    background-color: #253561;
    border: none;
}

.projects .cards {
    display:flex;
    justify-content: center;
}

/*MAIN - ABOUR */

.about {
    background-color: black;
}

.about .texto {
    font-size: x-large;
}
.about .espaco-entre {
    padding: 0;
}

.about .borda {
    border: 1px solid #39ff14;
}

.about .borda p {
    padding: 10px;
}

/* MAIN - ACTION */

.action {
    background-color: #253561;
    padding: 20px;
}

/* MAIN - SOCIAL MEDIAS */

.collaborators {
    background-color: black;
}
.collaborators .row {
    display: flex;
    justify-content: center;
}

.collaborators .border {
    width: 30%;
    padding: 10px;
    margin-right: 2em;
    border-radius: 0.5em;
}

.collaborators .border i {
    font-size: 25px;
}

.border .bi-facebook {
    color: #1459dc;
}

.border .bi-instagram{
    color: #3f729b;
}

.border .bi-whatsapp {
    color: #00b520;
}

/* FOOTER */

.footer {
    background-color: black;
}

.footer .figure-logo img {
    width: 250px;
    height: 150px;
}